@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|IBM+Plex+Sans:500&display=swap');

// :root {
// 	--color-primary: #6b7a8f;
// 	--color-secondary: #101118;
// 	--color-tertiary: #cee5d0;
// 	--color-accent: #1d1f2f;
// 	--color-focus: #6d64f7;
// 	--color-button: #ff96ad;
// 	--base-duration: 600ms;
// 	--base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
// }

:root {
	--x: 0;
	--y: 0;
	--d: 50;
}

$color-secondary: #101118;
$color-tertiary: #cee5d0;
$color-accent: #1d1f2f;
$color-focus: #6d64f7;
$color-button: #ff96ad;
$base-duration: 600ms;
$base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
$color-primary: #6b7a8f;

// =========================
// Global
// =========================

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	// font-family: 'IBM Plex Sans', sans-serif;
	overflow-x: hidden;
}

// #app {
// 	align-items: center;
// 	display: flex;
// 	height: 100%;
// 	justify-content: center;
// 	overflow-x: hidden;
// 	width: 100%;
// }

.visuallyhidden {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	white-space: nowrap;
	width: 1px;
}

// =========================
// Icons
// =========================

.icon {
	fill: $color-primary;
	width: 100%;
}

// =========================
// Buttons
// =========================

.btn {
	background-color: $color-button;
	border: none;
	border-radius: 0.125rem;
	color: white;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	padding: 1rem 2.5rem 1.125rem;

	&:focus {
		outline-color: $color-focus;
		outline-offset: 2px;
		outline-style: solid;
		outline-width: 3px;
	}

	&:active {
		transform: translateY(1px);
	}

	&:hover {
		background-color: white;
		color: $color-button;
	}
}

// =========================
// Slider controls
// =========================

.slider__controls {
	display: flex;
	justify-content: center;
	position: relative;
	top: calc(100% + 1rem);
	width: 100%;
	// padding-bottom: 60px;

	.btn {
		$size: 3rem;

		align-items: center;
		background-color: transparent;
		border: 3px solid transparent;
		border-radius: 100%;
		display: flex;
		height: $size;
		padding: 0;
		width: $size;

		&:focus {
			border-color: $color-focus;
			outline: none;
		}

		&--previous > * {
			transform: rotate(180deg);
		}
	}
}

// =========================
// Slider
// =========================
$slide-size: 50vmin;
$slide-margin: 4vmin;
.slider {
	height: $slide-size;
	margin: 0 auto;
	position: relative;
	width: $slide-size;
	margin-bottom: 15vh;
}

.slider__wrapper {
	display: flex;
	margin: 0 calc($slide-margin * -1);
	position: absolute;
	transition: transform $base-duration cubic-bezier(0.25, 1, 0.35, 1);
}

// =========================
// Slide
// =========================

.slide {
	align-items: center;
	color: white;
	display: flex;
	flex: 1;
	flex-direction: column;
	height: $slide-size;
	justify-content: center;
	margin: 0 $slide-margin;
	opacity: 0.25;
	position: relative;
	text-align: center;
	transition: opacity calc($base-duration / 2) $base-ease,
		transform calc($base-duration / 2) $base-ease;
	width: $slide-size;
	z-index: 1;

	&-previous,
	&-next {
		&:hover {
			opacity: 0.5;
		}
	}

	&-previous {
		cursor: w-resize;

		&:hover {
			transform: translateX(2%);
		}
	}

	&-next {
		cursor: e-resize;

		&:hover {
			transform: translateX(-2%);
		}
	}
}

$x: var(--x);
$y: var(--y);
$d: var(--d);
.slide-current {
	opacity: 1;
	pointer-events: auto;
	user-select: auto;

	@media (hover: hover) {
		&:hover .slide__image-wrapper {
			transform: scale(1.05) translate(calc($x / $d * 1px), calc($y / $d * 1px));
		}
	}
}

.slide__image-wrapper {
	background-color: $color-accent;
	border-radius: 2%;
	height: 100%;
	left: 0%;
	overflow: hidden;
	position: absolute;
	top: 0%;
	transition: transform calc($base-duration / 4) $base-ease;
	width: 100%;
}

.slide__image {
	$d: 20;

	height: 110%;
	left: -5%;
	object-fit: cover;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: -5%;
	transition: opacity $base-duration $base-ease, transform $base-duration $base-ease;
	user-select: none;
	width: 110%;

	@media (hover: hover) {
		.slide-current & {
			transform: translate(calc($x / $d * 1px), calc($y / $d * 1px));
		}
	}
}

.slide__headline {
	font-size: 4vmin;
	font-weight: 600;
	position: relative;
	margin: 0;
	margin-bottom: 30px;
}

.slide__content {
	--d: 60;

	opacity: 0;
	padding: 4vmin;
	position: relative;
	transition: transform $base-duration $base-ease;
	visibility: hidden;
	padding: 0;

	.slide-current & {
		// font-family: 'IBM Plex Sans', sans-serif;
		animation: fade-in calc($base-duration / 2) $base-ease forwards;
		visibility: visible;

		@media (hover: hover) {
			transform: translate(calc($x / $d * -1px), calc($y / $d * -1px));
		}
	}

	> * + * {
		margin-top: 2rem;
	}
}

// =========================
// Animations
// =========================

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

//
//	MOBILE
//
@media screen and (max-width: 960px) {
	.slide__headline {
		font-size: 20px;
	}
	.btn {
		font-size: 12px;
		padding: 10px 20px;
	}
}
