$red: #f37272;
$icon: 48px;
$margin: 24px;

.instagram-gallery {
	display: flex;
	flex-direction: column;
	padding: 0 10%;
	align-items: center;
	justify-content: center;

	i {
		margin: $margin;
		font-size: $icon;
		color: $red;

		&hover {
			font-size: 56px;
		}
	}
}
