/* Box colours, just gonna leave it like this - do not delete */
.st0 {
	fill: #5b3c27;
}
.st1 {
	fill: #845939;
}
.st2 {
	fill: #a6754a;
}
.st3 {
	fill: #c99564;
}
.st9 {
	opacity: 0.5;
	fill: #e1f8ff;
}

.background {
	fill: white;
}

/* Shell Shadow */
.shadow {
	fill: rgba(80, 80, 80, 0.8);
	mix-blend-mode: soft-light;
}

.shadowfilling {
	filter: brightness(0.4);
}

/* Shell Colours */

.beige {
	color: #d6b475;
	fill: #d6b475;
}

.blue {
	color: #91cfe6;
	fill: #91cfe6;
}

.brown {
	color: #d6d2c4;
	fill: #d6d2c4;
}

.browntiramisu {
	color: #dab3a0;
	fill: #dab3a0;
}

.darkbrown {
	color: #926565;
	fill: #926565;
}

.candy {
	color: #a6dcef;
	fill: #98c7d8;
}

.cream {
	color: #d8c7c7;
	fill: #d8c7c7;
}

.redraspberry {
	color: #a1202b;
	fill: #a1202b;
}

.redstrawberry {
	color: #fe7171;
	fill: #fe7171;
}

.pink {
	color: #ffb7b2;
	fill: #ffb7b2;
}

.orange {
	color: #ffdac1;
	fill: #ffdac1;
}

.green {
	color: #8cce94;
	fill: #8cce94;
}

.lightgreen {
	color: #d2f5e3;
	fill: #d2f5e3;
}

.purple {
	color: #c3aed6;
	fill: #c3aed6;
}

/* Flavour Colours */
.blueberry {
	background-color: #5e9fb6;
	color: #5e9fb6;
	fill: #5e9fb6;
}

.caramel {
	background-color: #d8cdaa;
	color: #d8cdaa;
	fill: #d8cdaa;
}

.chocolate {
	background-color: #5c4141;
	color: #5c4141;
	fill: #5c4141;
}

.cookiescream {
	background-color: #998989;
	color: #998989;
	fill: #998989;
}

.cottoncandy {
	background-color: #e49696;
	color: #e49696;
	fill: #e49696;
}

.pistachio {
	background-color: #c9d39d;
	color: #c9d39d;
	fill: #c9d39d;
}

.raspberry {
	background-color: #b64848;
	color: #b64848;
	fill: #b64848;
}

.strawberry {
	background-color: #e29898;
	color: #e29898;
	fill: #e29898;
}

.tiramisu {
	background-color: #e9cdb9;
	color: #e9cdb9;
	fill: #e9cdb9;
}
