.macaron-flavour {
	width: 200px;
	padding: 16px;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
	font-family: 'Segoe UI', sans-serif;
}

.macaron-description {
	font-family: 'Segoe UI', sans-serif;
	font-size: smaller;
}
